<div class="top-about">
    <div class="content my-container">
        <div class="title-bloc">
            <h2>
                <span>À propos de</span>
                <span>L-DRY EVENTS</span>
            </h2>
            <p>
                Chez LDry Event, nous pensons qu’un événement réussi ne laisse pas seulement des souvenirs… il laisse
                une émotion, une vibration, une atmosphère. C’est avec cette vision que nous concevons chaque prestation
                : sur mesure, professionnelle, mémorable.
            </p>
        </div>
        <img ngSrc="/img/about/dj-ldry.jpeg" width="1300" height="650">
    </div>
</div>