<div class="reason-to-choose-us">
    <div class="content my-container">
        <div class="texts">
            <h2>Pourquoi nous faire confiance ?</h2>
            <p>Depuis plusieurs années, nous accompagnons nos clients pour faire de leurs événements des moments inoubliables. Grâce à notre expertise, notre professionnalisme et notre passion pour l’animation, nous garantissons une prestation à la hauteur de vos attentes.</p>
            <ul>
                <li> <i class="pi pi-check-circle"></i>DJ professionnels et expérimentés</li>
                <li> <i class="pi pi-check-circle"></i>Matériel audio et lumière haut de gamme</li>
                <li> <i class="pi pi-check-circle"></i>Packs personnalisables selon vos envies</li>
                <li> <i class="pi pi-check-circle"></i>Excellents avis clients</li>
                <li> <i class="pi pi-check-circle"></i>Réactivité et accompagnement avant/après</li>
            </ul>
        </div>
        <div class="image-wrapper">
            <img ngSrc="/img/packs/reasons.jpeg" alt="" fill>
        </div>
    </div>
</div>
