.hero-banner {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-bottom: 5rem;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: bottom;
    }

    .content {
        display: flex;
        width: 100%;
        z-index: 2;
        margin-top: 10rem;

        form {
            background-color: var(--project-white-primary-color);
            padding: 2rem;
            border-radius: 7px;
            width: 35rem;

            h1{
                margin-bottom: 2rem;
            }

            display: flex;
            flex-direction: column;
            gap: 1rem;

            .field {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                flex: 1;

                label {
                    font-size: 1rem;
                    color: var(--project-black-primary-color);
                    font-weight: 600;
                }
            }

            button {
                border: none;
                font-size: 1rem;
                font-weight: 600;
                width: 100%;
                padding: 1rem 2rem;
                background-color: var(--project-green-secondary-color);
                border-radius: 7px;
            }
        }
    }
}