<header>
    <div class="content header-container">

        <div class="logo" routerLink="">
            <img ngSrc="/img/logo/logo.png" priority width="75" height="75">
            <span>DJ_LDRY</span>
        </div>
        <nav>

            <ul>
                <li>
                    <a routerLink="">Accueil</a>
                </li>
                <li>
                    <a routerLink="a-propos">À Propos</a>
                </li>
                <li>
                    <a routerLink="nos-equipements">Location Matériel</a>
                </li>
                <li>
                    <a routerLink="nos-packs-evenementiels">Packs Événementiels</a>
                </li>
            </ul>
            <a class="estimate" routerLink="devis-gratuit">
                Devis Gratuit
            </a>
        </nav>
    </div>
</header>