<div class="top-about">
    <div class="content my-container">
        <div class="title-bloc">
            <h2>Lorem ipsum dolor sit consectetur.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, est modi suscipit magnam illum incidunt,
                quo,
                architecto necessitatibus voluptatibus maxime praesentium nihil fuga porro laboriosam vitae provident
                officiis repellat dolorem! voluptatibus maxime praesentium nihil fuga porro laboriosam vitae provident
                officiis repellat dolorem!
            </p>
        </div>
        <img ngSrc="/img/about/dj-white.webp" width="1300" height="650">
    </div>
</div>