<div class="home-reservation">
    <div class="content my-container">
        <div class="services">
            <div class="service">
                <div class="texts">
                <h2>
                    Lorem ipsum dolor sit consectetur.
                </h2>

                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo atque aliquid aliquam illum
                    ratione necessitatibus fugit nesciunt officiis nemo officia amet quas praesentium similique qui
                    eaque, porro reiciendis ipsum ad.
                </p>
                <button>Découvrir</button>
            </div>

            <div class="images">
                <div class="image-wrapper" data-aos="fade-up" data-aos-duration="1500">
                    <img ngSrc="/img/estimate/hero.jpg" alt="Décor rouge du restaura Soprano Vésinet" fill />
                </div>

                <div class="image-wrapper middle" data-aos="fade-down" data-aos-duration="1000">
                    <img ngSrc="/img/estimate/hero.jpg" alt="Comptoir du restaurant Soprano Vésinet" fill />
                </div>

                <div class="image-wrapper" data-aos="fade-up" data-aos-duration="2000">
                    <img ngSrc="/img/estimate/hero.jpg" alt="Dressing de table au restaurant italien Soprano Vesinet"
                        fill />
                </div>
            </div>
            </div>
        </div>
    </div>
</div>