<div class="description">
    <div class="content my-container">
        <h2>L-DRY EVENTS</h2>

        <div class="texts">
            <h3>
                <span>Créateurs d’ambiance,</span>
                <span>Partenaires de vos moments forts</span>
            </h3>
            <p>
                Nous sommes une entreprise spécialisée dans <span>l’animation musicale</span> et <span>la location de
                    matériel son &
                    lumière </span> pour tout type d’événement. Fondée par des passionnés du spectacle vivant, notre
                mission est
                claire : offrir des prestations haut de gamme qui marquent les esprits.
            </p>
            <p>
                Qu’il s’agisse d’un <span>mariage</span>, d’un <span>anniversaire</span>, d’une <span>soirée privée</span> ou d’un <span>événement d’entreprise</span>, nous accompagnons nos clients dans chaque étape, de la conception à la réalisation et nous
                assurons une ambiance festive, élégante et parfaitement maîtrisée.
            </p>
        </div>
    </div>
</div>