:root{
    --project-black-primary-color : #111010;
    --project-white-primary-color : #f3f3f3;
    --project-white-tertiary-color: #949494;
    --project-green-primary-color : #0b2f20;
    --project-green-secondary-color : #7eaf1c;
    --project-green-tertiary-color : #c5cebf;
    --project-gold-primary-color: #cfba68;
}